<app-header></app-header>
<div class="modal fade" id="exampleModal" tabindex="-1" aria- 
  labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Add New Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
       aria-label="Close"></button>
      </div>
      <form class="text-center form-signin">
        <div class="form-floating">
          <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control" id="floatingInput" placeholder="Product Name">
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating">
          <input type="text" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" class="form-control" id="floatingPassword" placeholder="0">
          <label for="floatingInput">Price</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" data-bs-dismiss="modal">Submit</button>
      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<app-data-table></app-data-table>
<app-footer></app-footer>