<app-header></app-header>
<div class="row justify-content-end">
    <div class="col col-lg-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
        data-bs-target="#exampleModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
            Add Customer
        </button>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria- 
  labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Add New Customer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
       aria-label="Close"></button>
      </div>
      <form class="text-center form-signin">
        <div class="form-floating">
          <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control" id="floatingInput" placeholder="Product Name">
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating">
          <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="floatingInput" placeholder="example@email.com">
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input type="text" [(ngModel)]="address" [ngModelOptions]="{standalone: true}" class="form-control" id="floatingInput" placeholder="123 Example St. City, State. 999999">
            <label for="floatingInput">Address</label>
          </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" data-bs-dismiss="modal">Submit</button>
      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal"> Close</button>
      </div>
    </div>
  </div>
</div>
<app-data-table></app-data-table>
<app-footer></app-footer>
